# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/
.venv

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Model files
*.pkl
*.joblib

# Streamlit
.streamlit/secrets.toml

# main huge dataset
train.csv